p{
    font-weight: bold;
    border-bottom-style: outset;
}
span{
    color: red;
}
@keyframes close{
    0%{
       box-shadow: 0 0 0 0 ;
    }
    100%{
        box-shadow: inset 0 0 0 2em red;
    }
}
h1{
    font-weight: bold;
    animation: close 1.5s infinite;
    background-color: yellow;
    text-align: center;

}
div{
	color:green;
	border: 3px green;

}

