body{
    background-color: chocolate;
}
h1{
    color: gold;
}
img{
    display: block;
}
.stock{
    font-weight: bold;
    color: rgb(42, 36, 138); 
    background-color: chartreuse;
    display: inline;
    font-size: 30px;
}
@keyframes flash{
    0%{
        color: white;
    }
}
span{
    animation: flash 1s infinite;
    color: red;
    font-weight: bold;
}

.circle{
    position: absolute;
    margin-left: 40%;
    flex-wrap: wrap;
    width: 7rem;
    display: flex;
    padding-bottom: 3px;
    /* border-radius: 50%; */
    
    background-color: skyblue;
}
.ele-title{
    text-align: center;
    font-weight: bold;
    color: rgb(235, 50, 50);
    width: 100%;
}
.elements-top{
    width: 100%;
    justify-content: center;
    display: flex;
    
    
}
.gu{
    width: 3rem;
    border: navy;
    border-radius: 50%;
    font-weight: bold;
    background: mediumpurple;
    text-align: center;
    margin-bottom: 0px;
    justify-content: center;
}
.marker{
    width: 100%;
    font-weight: bold;
    text-align: center;
    
}
.elements{
    width: 2rem;
    border: navy;
    border-radius: 50%;
    font-weight: bold;
    background-color: mediumpurple;
    margin: auto;
    text-align: center;
}
.marker2{
    width: 1rem;
    font-weight: bold;
    margin: auto;
}


.command{
    width: 300px;
    background-color:rgba(132, 245, 67,0.7)
    
    
}

select{
    background-color: yellow;
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
}
.subtitle{
    font-weight: bold;
}
option{
    background-color: violet;
    font-weight: bold;
    font-size: 1.5rem;
}
option:hover{
    background-color: paleturquoise;
}

button{
    font-weight: bold;
    background-color: rgb(146, 235, 235);
}
button:hover{
    color: thistle;
}